# Compiled files
__pycache__
*.pyc
*.so
*.o

# Vim
.*.swp

# Outputs
*.pstats
*.json
*.cyclebasis
*.gpickle
*.png
*.pdf

# distutil and setuptools stuff
*.egg-info
/build/
/dist/

# Other
*.dot
gmon.out
a.out
*.bak

# Exuberant C-tags
tags
